CLIENTE/src/conf/xml-resources/web-service-references/NovoWebService/wsdl/localhost_8080/NovoWebService/NovoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://desappweb.unicarioca.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://desappweb.unicarioca.edu.br/" name="NovoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://desappweb.unicarioca.edu.br/" schemaLocation="http://localhost:8080/NovoWebService/NovoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Aluno1Materia">
<part name="parameters" element="tns:Aluno1Materia"/>
</message>
<message name="Aluno1MateriaResponse">
<part name="parameters" element="tns:Aluno1MateriaResponse"/>
</message>
<message name="Aluno2Materia">
<part name="parameters" element="tns:Aluno2Materia"/>
</message>
<message name="Aluno2MateriaResponse">
<part name="parameters" element="tns:Aluno2MateriaResponse"/>
</message>
<message name="Aluno3Materia">
<part name="parameters" element="tns:Aluno3Materia"/>
</message>
<message name="Aluno3MateriaResponse">
<part name="parameters" element="tns:Aluno3MateriaResponse"/>
</message>
<message name="Aluno4Materia">
<part name="parameters" element="tns:Aluno4Materia"/>
</message>
<message name="Aluno4MateriaResponse">
<part name="parameters" element="tns:Aluno4MateriaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="atribuirNota12">
<part name="parameters" element="tns:atribuirNota12"/>
</message>
<message name="atribuirNota12Response">
<part name="parameters" element="tns:atribuirNota12Response"/>
</message>
<message name="Aluno3AV1">
<part name="parameters" element="tns:Aluno3AV1"/>
</message>
<message name="Aluno3AV1Response">
<part name="parameters" element="tns:Aluno3AV1Response"/>
</message>
<message name="senhaProfessor2">
<part name="parameters" element="tns:senhaProfessor2"/>
</message>
<message name="senhaProfessor2Response">
<part name="parameters" element="tns:senhaProfessor2Response"/>
</message>
<message name="Aluno4AV1">
<part name="parameters" element="tns:Aluno4AV1"/>
</message>
<message name="Aluno4AV1Response">
<part name="parameters" element="tns:Aluno4AV1Response"/>
</message>
<message name="senhaAluno1">
<part name="parameters" element="tns:senhaAluno1"/>
</message>
<message name="senhaAluno1Response">
<part name="parameters" element="tns:senhaAluno1Response"/>
</message>
<message name="Aluno3AV3">
<part name="parameters" element="tns:Aluno3AV3"/>
</message>
<message name="Aluno3AV3Response">
<part name="parameters" element="tns:Aluno3AV3Response"/>
</message>
<message name="Aluno4AV2">
<part name="parameters" element="tns:Aluno4AV2"/>
</message>
<message name="Aluno4AV2Response">
<part name="parameters" element="tns:Aluno4AV2Response"/>
</message>
<message name="Aluno1AV3">
<part name="parameters" element="tns:Aluno1AV3"/>
</message>
<message name="Aluno1AV3Response">
<part name="parameters" element="tns:Aluno1AV3Response"/>
</message>
<message name="senhaProfessor1">
<part name="parameters" element="tns:senhaProfessor1"/>
</message>
<message name="senhaProfessor1Response">
<part name="parameters" element="tns:senhaProfessor1Response"/>
</message>
<message name="atribuirNota34">
<part name="parameters" element="tns:atribuirNota34"/>
</message>
<message name="atribuirNota34Response">
<part name="parameters" element="tns:atribuirNota34Response"/>
</message>
<message name="senhaAluno2">
<part name="parameters" element="tns:senhaAluno2"/>
</message>
<message name="senhaAluno2Response">
<part name="parameters" element="tns:senhaAluno2Response"/>
</message>
<message name="Aluno1AV2">
<part name="parameters" element="tns:Aluno1AV2"/>
</message>
<message name="Aluno1AV2Response">
<part name="parameters" element="tns:Aluno1AV2Response"/>
</message>
<message name="Aluno2AV2">
<part name="parameters" element="tns:Aluno2AV2"/>
</message>
<message name="Aluno2AV2Response">
<part name="parameters" element="tns:Aluno2AV2Response"/>
</message>
<message name="senhaAluno4">
<part name="parameters" element="tns:senhaAluno4"/>
</message>
<message name="senhaAluno4Response">
<part name="parameters" element="tns:senhaAluno4Response"/>
</message>
<message name="Aluno4AV3">
<part name="parameters" element="tns:Aluno4AV3"/>
</message>
<message name="Aluno4AV3Response">
<part name="parameters" element="tns:Aluno4AV3Response"/>
</message>
<message name="Aluno2AV3">
<part name="parameters" element="tns:Aluno2AV3"/>
</message>
<message name="Aluno2AV3Response">
<part name="parameters" element="tns:Aluno2AV3Response"/>
</message>
<message name="senhaAluno3">
<part name="parameters" element="tns:senhaAluno3"/>
</message>
<message name="senhaAluno3Response">
<part name="parameters" element="tns:senhaAluno3Response"/>
</message>
<message name="Aluno2AV1">
<part name="parameters" element="tns:Aluno2AV1"/>
</message>
<message name="Aluno2AV1Response">
<part name="parameters" element="tns:Aluno2AV1Response"/>
</message>
<message name="Aluno1AV1">
<part name="parameters" element="tns:Aluno1AV1"/>
</message>
<message name="Aluno1AV1Response">
<part name="parameters" element="tns:Aluno1AV1Response"/>
</message>
<message name="Aluno3AV2">
<part name="parameters" element="tns:Aluno3AV2"/>
</message>
<message name="Aluno3AV2Response">
<part name="parameters" element="tns:Aluno3AV2Response"/>
</message>
<message name="Aluno1Media">
<part name="parameters" element="tns:Aluno1Media"/>
</message>
<message name="Aluno1MediaResponse">
<part name="parameters" element="tns:Aluno1MediaResponse"/>
</message>
<message name="Aluno4Media">
<part name="parameters" element="tns:Aluno4Media"/>
</message>
<message name="Aluno4MediaResponse">
<part name="parameters" element="tns:Aluno4MediaResponse"/>
</message>
<message name="Aluno2Media">
<part name="parameters" element="tns:Aluno2Media"/>
</message>
<message name="Aluno2MediaResponse">
<part name="parameters" element="tns:Aluno2MediaResponse"/>
</message>
<message name="Aluno3Media">
<part name="parameters" element="tns:Aluno3Media"/>
</message>
<message name="Aluno3MediaResponse">
<part name="parameters" element="tns:Aluno3MediaResponse"/>
</message>
<portType name="NovoWebService">
<operation name="Aluno1Materia">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1MateriaRequest" message="tns:Aluno1Materia"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1MateriaResponse" message="tns:Aluno1MateriaResponse"/>
</operation>
<operation name="Aluno2Materia">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2MateriaRequest" message="tns:Aluno2Materia"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2MateriaResponse" message="tns:Aluno2MateriaResponse"/>
</operation>
<operation name="Aluno3Materia">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3MateriaRequest" message="tns:Aluno3Materia"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3MateriaResponse" message="tns:Aluno3MateriaResponse"/>
</operation>
<operation name="Aluno4Materia">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4MateriaRequest" message="tns:Aluno4Materia"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4MateriaResponse" message="tns:Aluno4MateriaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="atribuirNota12">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/atribuirNota12Request" message="tns:atribuirNota12"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/atribuirNota12Response" message="tns:atribuirNota12Response"/>
</operation>
<operation name="Aluno3AV1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV1Request" message="tns:Aluno3AV1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV1Response" message="tns:Aluno3AV1Response"/>
</operation>
<operation name="senhaProfessor2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaProfessor2Request" message="tns:senhaProfessor2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaProfessor2Response" message="tns:senhaProfessor2Response"/>
</operation>
<operation name="Aluno4AV1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV1Request" message="tns:Aluno4AV1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV1Response" message="tns:Aluno4AV1Response"/>
</operation>
<operation name="senhaAluno1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno1Request" message="tns:senhaAluno1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno1Response" message="tns:senhaAluno1Response"/>
</operation>
<operation name="Aluno3AV3">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV3Request" message="tns:Aluno3AV3"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV3Response" message="tns:Aluno3AV3Response"/>
</operation>
<operation name="Aluno4AV2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV2Request" message="tns:Aluno4AV2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV2Response" message="tns:Aluno4AV2Response"/>
</operation>
<operation name="Aluno1AV3">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV3Request" message="tns:Aluno1AV3"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV3Response" message="tns:Aluno1AV3Response"/>
</operation>
<operation name="senhaProfessor1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaProfessor1Request" message="tns:senhaProfessor1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaProfessor1Response" message="tns:senhaProfessor1Response"/>
</operation>
<operation name="atribuirNota34">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/atribuirNota34Request" message="tns:atribuirNota34"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/atribuirNota34Response" message="tns:atribuirNota34Response"/>
</operation>
<operation name="senhaAluno2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno2Request" message="tns:senhaAluno2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno2Response" message="tns:senhaAluno2Response"/>
</operation>
<operation name="Aluno1AV2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV2Request" message="tns:Aluno1AV2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV2Response" message="tns:Aluno1AV2Response"/>
</operation>
<operation name="Aluno2AV2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV2Request" message="tns:Aluno2AV2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV2Response" message="tns:Aluno2AV2Response"/>
</operation>
<operation name="senhaAluno4">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno4Request" message="tns:senhaAluno4"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno4Response" message="tns:senhaAluno4Response"/>
</operation>
<operation name="Aluno4AV3">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV3Request" message="tns:Aluno4AV3"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4AV3Response" message="tns:Aluno4AV3Response"/>
</operation>
<operation name="Aluno2AV3">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV3Request" message="tns:Aluno2AV3"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV3Response" message="tns:Aluno2AV3Response"/>
</operation>
<operation name="senhaAluno3">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno3Request" message="tns:senhaAluno3"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/senhaAluno3Response" message="tns:senhaAluno3Response"/>
</operation>
<operation name="Aluno2AV1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV1Request" message="tns:Aluno2AV1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2AV1Response" message="tns:Aluno2AV1Response"/>
</operation>
<operation name="Aluno1AV1">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV1Request" message="tns:Aluno1AV1"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1AV1Response" message="tns:Aluno1AV1Response"/>
</operation>
<operation name="Aluno3AV2">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV2Request" message="tns:Aluno3AV2"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3AV2Response" message="tns:Aluno3AV2Response"/>
</operation>
<operation name="Aluno1Media">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1MediaRequest" message="tns:Aluno1Media"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno1MediaResponse" message="tns:Aluno1MediaResponse"/>
</operation>
<operation name="Aluno4Media">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4MediaRequest" message="tns:Aluno4Media"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno4MediaResponse" message="tns:Aluno4MediaResponse"/>
</operation>
<operation name="Aluno2Media">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2MediaRequest" message="tns:Aluno2Media"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno2MediaResponse" message="tns:Aluno2MediaResponse"/>
</operation>
<operation name="Aluno3Media">
<input wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3MediaRequest" message="tns:Aluno3Media"/>
<output wsam:Action="http://desappweb.unicarioca.edu.br/NovoWebService/Aluno3MediaResponse" message="tns:Aluno3MediaResponse"/>
</operation>
</portType>
<binding name="NovoWebServicePortBinding" type="tns:NovoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Aluno1Materia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno2Materia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno3Materia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno4Materia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atribuirNota12">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno3AV1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaProfessor2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno4AV1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaAluno1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno3AV3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno4AV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno1AV3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaProfessor1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atribuirNota34">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaAluno2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno1AV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno2AV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaAluno4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno4AV3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno2AV3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senhaAluno3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno2AV1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno1AV1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno3AV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno1Media">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno4Media">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno2Media">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aluno3Media">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NovoWebService">
<port name="NovoWebServicePort" binding="tns:NovoWebServicePortBinding">
<soap:address location="http://localhost:8080/NovoWebService/NovoWebService"/>
</port>
</service>
</definitions>